.page {
  flex-direction: column;

  .controls {
    display: flex;
    align-items: center;
    background-color: $menu-color;
    min-height: 63px;
    padding-left: 15px;

    .logo {
      font-size: xx-large;
      font-family: $logo-font-family;
      margin-right: 30px;
    }
  }

  .player {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 15px;

    .events {
      width: 15%;
      min-width: 100px;
      list-style-type: none;
      margin: 0px;
      padding: 0px 0px 15px 15px;

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 5px 0px;
        color: $event-text-color;
        border: 1px solid $event-border-color;
        border-radius: 5px;
        background-color: $not-active-event-color;
        transition: background-color 0.2s ease;

        &.current {
          background-color: $active-event-color;
        }

        .event-icon {
          margin: 0px 10px 0px 4px;
        }
      }

      :first-child {
        margin-top: 0px;
      }
    }
  }
}
